<h3>
    ברוכים הבאים לדף הבית של
</h3>
<h4>    The Pets Shop!</h4>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt cumque id fugiat beatae, magnam distinctio porro accusantium optio sequi veniam quod eligendi inventore recusandae illo cupiditate aliquam libero esse minus.
</p>

<div>
    <form>
        <input name="fname" type="text" placeholder="FirstNameHere" >
        <br>
        <input name="lname" type="text" placeholder="LastNameHere" >
        <br>
        <input type="email" name="email" id="" placeholder="emailHere">
        <br>
        Gender:
        Male:<input type="radio" name="gender" value="male">
        Female:<input type="radio" name="gender" value="female">
        <br>
        Locartion:
        <select name="city" >
            <option>Tel-Aviv</option>
            <option>Jerusalem</option>
            <option>Haifa</option>
        </select>
        <br>
        <br>
        <textarea style="overflow: auto;" name="textArea" id="" cols="30" rows="10"></textarea>
        <br>
        <input type="button" value="SEND">
        <input type="reset" value="CLEAR">
    </form>
</div>

